header img {
  width: 20px;
}

.header {
  padding: var(--container-padding-x);

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-heigh);
}

.header-nav li {
  list-style: none;
  display: inline;
}

.header-nav a {
  font-size: 20px;
}

.header-logo {
  font-size: 32px;
  font-weight: 900;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 270px;
}
